In [4]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\AZD\\Desktop\\boxplot_validation_set.csv")
df.head()

,AGE,MMSE_bl,ADAS11_bl,ADAS13_bl,Entorhinal_bl,RAVLT_immediate_bl,TOTAL_HIPPO,ABETA_bl,DX_bl
0,74.3,0.818182,0.26675,0.359038,0.614401,0.614286,NaN,NaN,CN
1,84.5,0.818182,0.12500,0.134615,0.617317,0.714286,NaN,1.000000,CN
2,80.8,0.909091,0.17500,0.173077,0.643562,0.700000,NaN,NaN,CN
3,72.6,1.000000,0.16675,0.185962,0.446389,0.742857,0.540561,NaN,CN
4,71.7,0.636364,0.10000,0.153846,0.490130,0.557143,0.591419,0.964667,CN

In [6]:
df['DX_bl'].unique()

array(['CN', 'MCI', 'AD', 'SMC'], dtype=object)

In [9]:
df.isnull().values.any()

True

In [8]:
df.dropna()

,AGE,MMSE_bl,ADAS11_bl,ADAS13_bl,Entorhinal_bl,RAVLT_immediate_bl,TOTAL_HIPPO,ABETA_bl,DX_bl
4,71.7,0.636364,0.10000,0.153846,0.490130,0.557143,0.591419,0.964667,CN
11,69.6,0.818182,0.07500,0.057692,0.304621,0.671429,0.468179,0.565333,CN
13,70.9,0.909091,0.17500,0.192308,0.303275,0.657143,0.373961,0.936667,CN
19,65.1,1.000000,0.06675,0.070577,0.679677,0.757143,0.490084,0.809333,CN
23,60.7,0.818182,0.05000,0.057692,0.697398,0.700000,0.478465,0.968000,MCI
...,...,...,...,...,...,...,...,...,...
1217,81.9,1.000000,0.15000,0.153846,0.449080,0.742857,0.526539,1.000000,SMC
1218,59.7,0.909091,0.22500,0.230769,0.508300,0.700000,0.505753,0.976667,SMC
1219,67.0,0.909091,0.12500,0.115385,0.568865,0.742857,0.507446,0.466267,SMC
1220,74.3,1.000000,0.07500,0.096154,0.527367,0.571429,0.428894,0.485533,SMC
1223,69.3,0.909091,0.22500,0.269231,0.731943,0.528571,0.833711,0.840000,SMC

In [11]:
df.dropna()
df.isnull().values.any()

True